{% extends "layout.html" %}
{% block body %}
  {% if question %}
    <h2>{{question.title}}</h2>

    <pre id="question_txt" style="display:none">
      {{ question.text|safe }}
    </pre>
    <div id="rendered"></div>

    <h3>Prompt:</h3>
    <p>{{question.prompt}}</p>

    <h3>Answer:</h3>

    <form id="answerForm" class="answer-question">
      <textarea id="answer_field" name="answer" rows="5" cols="40"></textarea>
      <input  type="submit" value="Submit">
    </form>

    <script>

    window.onload = function(){
      var question = document.getElementById("question_txt");

        var r = document.getElementById("rendered");
        try {
          var q = JSON.parse(question.innerText);

          console.log(q);
          renderTree(q,r);
        } catch(e){
          console.log(e);
        }

      $("#answerForm").submit(function(e){
        e.preventDefault();
        $.post("{{ url_for('answer_question', id=question.id) }}", {answer: $("#answer_field").val()}, function(data){
          alert(data);
        });
      });

    };
    </script>

  {% else %}
  <p>No question found! Ask the administrator to add some</p>
  {% endif %}


{% endblock %}
